.well.sidebar-nav
  %ul.nav.nav-list.graphs-list
    %li.nav-header
      Graphs
    - @entities.each do |e|
      %li.entity{ :data => { 'entity-id' => e.id } }
        = link_to "#entity_#{e.id}", :class => "accordion-toggle", :data => {:toggle => "collapse", :parent => "#menu"} do
          %i.icon-chevron-right
          = e.name
