- content_for :sidebar do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Graphs
        #menu.accordion
          - @entities.each do |e|
            .accordion-group
              .accordion-heading
                = link_to e.name, "#entity_#{e.id}", :class => "accordion-toggle", :data => {:toggle => "collapse", :parent => "#menu"}
              .accordion-body.collapse.in[e]
                .accordion-inner
                  %ul
                    - e.graphs.uniq.each do |g|
                      %li= link_to g.title, "#", :data => { :graph_id => g.id } 

#graphs

- if @graph_ids
  :javascript
    $(document).ready(function() {
      $(".collapse").collapse('hide');
      var ids = #{@graph_ids.to_json}
      for (var id in ids) {
        graphs.push(ids[id]);
        fetchAndBuildGraphById(ids[id]);
      }
    });
