// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.graph_container {
	width: 800px;
	.y_axis {
		width: 70px;
	}
	.x_tick {
		.title {
			bottom: -20px;
			font-size: 11px;
		}
	}
	.legend-container {
		font-size: 11px;
		padding-top: 5px;
		clear: both;
		margin-left: 70px;
		.mini-legend {
			border-top: 1px solid #ddd;
			cursor: pointer;
			i {
				margin-right: 5px;
			}
			.item {
				white-space: nowrap;
				display: inline-block;
				position: relative;
				margin-right: 8px;
				.swatch {
					position: absolute;
					top: 30%;
					float: left;
					width: 8px;
					height: 8px;
				}
				.text {
					padding-left: 12px;
				}
			}
		}
		table {
			width: 600px;
			table-layout: fixed;
			font-size: 11px;
			tr {
				cursor: pointer;
				&.disabled {
					color: #ccc;
				}
			}
			td, th {
				padding: 1px;
			}
			th {
				text-align: left;
				cursor: pointer;
			}
			.swatch {
				width: 12px;
				vertical-align: bottom;
				div {
					width: 10px;
					height: 10px;
					margin-bottom: 6px;
				}
			}
			.min, .max, .avg {
				width: 70px;
			}
		}
	}
}

.graphs-list {
	font-size: 12px;
	li {
		.metrics {
			display: none;
		}
		.dashboards {
			display: none;
		}
		line-height: 14px;
	}
}
