// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.graphs-list {
  font-size: 12px;
  li {
    .metrics {
      display: none;
    }
    line-height: 14px;
  }
}
