// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.graph_container {
	.y_axis {
		width: 70px;
		padding-bottom: 10px;
	}
	.show-legend {
		font-size: 11px;
		margin-left: 85px;
		font-weight: bold;
		margin-top: 166px;
	}
	table.legend {
		width: 600px;
		table-layout: fixed;
		font-size: 11px;
		tr {
			cursor: pointer;
			&.disabled {
				color: #ccc;
			}
		}
		td, th {
			padding: 1px;
		}
		th {
			text-align: left;
		}
		.swatch {
			width: 12px;
			vertical-align: bottom;
			div {
				width: 10px;
				height: 10px;
				margin-bottom: 6px;
			}
		}
		.min, .max, .avg {
			width: 70px;
		}
	}
}

.graphs-list {
	font-size: 12px;
	li {
		.metrics {
			display: none;
		}
		.dashboards {
			display: none;
		}
		line-height: 14px;
	}
}
