/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rickshaw
 *= require_self
 *= require_tree .
 */

.graph_container {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.graph {
  float: left;
}
.legend {
  float: left;
  margin-left: 15px;
}
.offset_form {
  float: left;
  margin: 2em 0 0 15px;
  font-size: 13px;
}
.y_axis {
  float: left;
  width: 40px;
}
